
<template>
    <v-container fluid>
        <v-layout column>
            <v-card class="mx-auto" width="750" min-width="200">
                <v-card-text>
                    <v-flex class="mb-4">
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        elevation="8"
                        >
                            <v-img
                              src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                              height="200px"
                            ></v-img>
                      </v-card>
                    </v-flex>

                    <v-text-field
                        v-model="form.firstName"
                        label="FirstName"></v-text-field>
                    <v-text-field
                        v-model="form.lastName"
                        label="Last Name"></v-text-field>
                    <v-text-field
                        v-model="form.contactEmail"
                        label="Email Address"></v-text-field>
                    <v-btn color="primary" :loading="loading" @click.native="update">
                        <v-icon left dark>check</v-icon>
                        Save Changes
                    </v-btn>
                </v-card-text>

            </v-card>
        </v-layout>
        <avatar-picker
            v-model="showAvatarPicker"
            :current-avatar="form.avatar"
            @selected="selectAvatar"></avatar-picker>
    </v-container>
</template>

<script>


    export default {
        pageTitle: 'My Profile',
        data () {
            return {
                labels: ['1', '5', '10', '20', '50'],
                loading: false,
                form: {
                    firstName: 'John',
                    lastName: 'Doe',
                    contactEmail: 'john@doe.com',
                    avatar: 'MALE_CAUCASIAN_BLOND_BEARD'
                },
                showAvatarPicker: false
            }
        },
        methods: {
            openAvatarPicker () {
                this.showAvatarPicker = true
            },
            selectAvatar (avatar) {
                this.form.avatar = avatar
            }
        }
    }
</script>