<template>
  <div id="calendar">
    <!-- detail event -->
    <v-dialog
      v-model="dialog"
      max-width="400">
      <v-card v-if="selectedEvent">
        <v-card-title class="headline" justify="space-around">
          {{ selectedEvent.name }}
          <v-switch
            v-model="showEditOptions"
            :label="`Editar`"
          ></v-switch>
        </v-card-title>
        <v-card-text>
          Condición: {{ selectedEvent.condition }}
        </v-card-text>
        <v-card-text>
          Encuesta: {{ selectedEvent.survey }}
        </v-card-text>
        <v-card-text>
          Estatus: {{ selectedEvent.status }}
        </v-card-text>
        <v-card-text>
          Propiedad: {{ selectedEvent.property.title }}
        </v-card-text>

        <v-card-text justify="center" v-if="showEditOptions">
            <v-date-picker
              v-model="schedule_date"
              color="green lighten-1"
              >
            </v-date-picker>
            <v-time-picker
              v-model="schedule_time"
              color="green lighten-1"
            ></v-time-picker>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            flat="flat"
            @click="dialog = false">
            Okey
          </v-btn>

          <v-spacer></v-spacer>
          <v-btn
            v-if="showEditOptions"
            color="green darken-1"
            flat="flat"
            @click="updateEvent(selectedEvent.id)">
            editar
          </v-btn>

          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            flat="flat"
            @click="cancellEvent(selectedEvent.id)">
            Cancelar actividad
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- creating new event -->

    <v-dialog
      v-model="dialogCreateEvent"
      max-width="700">
      <v-card v-if="dialogCreateEvent">
        <v-card-title class="headline">Crear actividad en la fecha: {{ schedule_date }}</v-card-title>

        <v-card-text>
          <v-text-field
            v-model="newActivity.title"
            label="Titulo"
            hint="Escribe el titulo de la actividad" />
        </v-card-text>

        <v-card-text>
          <v-text-field
            v-model="newActivity.answers"
            label="Preguntas"
            hint="Escribe en formato json" />
        </v-card-text>

        <v-card-text>
          <v-combobox
            v-model="selectedProp"
            :items="items"
            label="Propiedad"
            item-text="title"
            single-line
            return-object
            outlined
            dense
          ></v-combobox>
        </v-card-text>

        <v-card-text justify="center">
            <v-time-picker
              v-model="schedule_time"
              color="green lighten-1"
            ></v-time-picker>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            flat="flat"
            @click="createEvent()">
            Crear
          </v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>

    <v-alert
      :value="showAlert"
      dense
      outlined
      type="error"
    >
      {{ alertMessage }}
    </v-alert>

    <v-alert
      :value="showSuccessAlert"
      dense
      text
      type="success"
    >
      {{ alertMessage }}
    </v-alert>

    <full-calendar
      :events="events"
      locale="en"
      @eventClick="eventClick($event)"
      @dayClick="dayClick($event)"/>
  </div>
</template>

<script>
import fetchActivities from '../services/activities/fetchActivities'
import cancellActivities from '../services/activities/cancellActivities'
import createActivity from '../services/activities/createActivities'
import rescheduleActivity from '../services/activities/rescheduleActivities'
import fetchProperties from '../services/properties/fetchProperties'
 import moment from 'moment'

export default {
  data() {
    return {
      dialog: false,
      showEditOptions: false,
      dialogCreateEvent: false,
      showAlert: false,
      showSuccessAlert: false,
      schedule_date: null,
      schedule_time: null,
      new_date: null,
      alertMessage: "",
      items: [],
      newActivity: {
        title: null,
        schedule: null,
        property: null,
        answers: null
      },
      selectedEvent: null,
      selectedProp: null,
      events: []
    }
  },
  mounted() {
    this.loadEvents()
    this.loadProperties()
  },
  methods: {
    resetVars(){
      this.dialog = false,
      this.showEditOptions = false,
      this.dialogCreateEvent = false,
      this.showAlert = false,
      this.showSuccessAlert = false,
      this.schedule_date = null,
      this.schedule_time = null,
      this.alertMessage = "",
      this.newActivity.title = null,
      this.newActivity.schedule = null,
      this.newActivity.property = null,
      this.newActivity.answers = null,
      this.selectedEvent = null,
      this.selectedProp = null
    },
    deactivateSuccess() {
      setTimeout(() => this.showSuccessAlert = false, 5000);
    },
    deactivateError() {
      setTimeout(() => this.showAlert = false, 5000);
    },
    loadProperties() {
      fetchProperties().then(data => {
        if(data){
          this.items = Object.values(data)
        }
      })
    },
    loadEvents() {
      fetchActivities().then(data => {
        if(data){
          this.events = Object.values(data)
        }
      })
    },
    eventClick($event) {
      const vm = this;
      vm.dialog = true;
      vm.selectedEvent = $event;
    },

    dayClick($event) {
      const vm = this;
      vm.dialogCreateEvent = true;
      vm.schedule_date = moment($event.toLocaleDateString(), "DD/MM/YYYY").format("YYYY-MM-DD");
    },

    createEvent() {
      this.newActivity.schedule = `${this.schedule_date}T${this.schedule_time}`;
      this.newActivity.property = this.selectedProp.id

      createActivity(this.newActivity).then(data => {
        this.loadEvents()
        this.dialog = false
        this.alertMessage = "Actividad creada correctamente"
        this.showSuccessAlert = true
        this.deactivateSuccess()
      }).catch((error) => {
        this.dialog = false
        this.showAlert = true
        this.alertMessage = "Error creando actividad revise la hora y fecha"
        this.deactivateError()
      })

      this.dialogCreateEvent = false;
      this.resetVars()
    },
    updateEvent(activity_id) {
      this.new_date = `${this.schedule_date}T${this.schedule_time}`
      rescheduleActivity(activity_id, this.new_date).then(data => {
        this.loadEvents()
        this.dialog = false
        this.alertMessage = "Actividad re-agendada correctamente"
        this.showSuccessAlert = true
        this.resetVars()
        this.deactivateSuccess()
      })
    },
    cancellEvent(activity_id) {
      cancellActivities(activity_id).then(data => {
        this.loadEvents()
        this.dialog = false
        this.alertMessage = "Actividad cancelada correctamente"
        this.showSuccessAlert = true
        this.resetVars()
        this.deactivateSuccess()
      })
    }

  }
}
</script>

<style>
  #calendar {
    height: 100%;
  }

  .prev-month {
    font-size: 20px !important;
    font-weight: bold;
  }

  .next-month {
    font-size: 20px !important;
    font-weight: bold;
  }

  .event-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 14px !important;
  }

  .event-item-caution {
    background-color: #e89a9a !important;
  }

  .event-item-warning {
    background-color: #ffffa5 !important;
  }

  .event-item-meeting {
    background-color: #71d48e !important;
  }

  .event-item-trip {
    background-color: #8d78e6 !important;
  }

</style>
