<template>
      <calendar/>
</template>

<script>
import Calendar from './Calendar.vue'

export default {
  components: {Calendar, },
  data() {
    return {
      
    }
  }
}
</script>

<style >
</style>
