<template>
  <v-app id="login" class="secondary">
    <v-content>
      <v-alert type="error" :value="showResult" dismissible>
        {{ result }}
      </v-alert>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <img src="static/logo.png" alt="Vue Material Admin" width="180" height="180">
                  <h1 class="flex my-4 primary--text">Login</h1>
                </div>
                <v-form>
                  <v-text-field
                    append-icon="person"
                    name="login"
                    label="Login"
                    type="text"
                    v-model="user.username"
                    :error="error"
                    :rules="[rules.required]"
                  />
                  <v-text-field
                    :type="hidePassword ? 'password' : 'text'"
                    :append-icon="hidePassword ? 'visibility_off' : 'visibility'"
                    name="password"
                    label="Password"
                    id="password"
                    :rules="[rules.required]"
                    v-model="user.password"
                    :error="error"
                    @click:append="hidePassword = !hidePassword"/>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn block color="primary" @click="login" :loading="loading">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import authService from '../../services/auth/index'

  const DEFAULT_ROUTE = {
    name: 'Dashboard',
  }

  export default {
    name: 'Login',
    data() {
      return {
        loading: false,
        hidePassword: true,
        error: false,
        showResult: false,
        result: '',
        rules: {
          required: value => !!value || 'Required.'
        },
        user: {
          username: "",
          password: "",
        },
        initial: 'Initial Value',
      }
    },
    methods: {
      login(){
        authService.login(this.user)
        .then(() => {
            const { nextURL } = '/dashboard'
            const route = nextURL ? { path: nextURL } : DEFAULT_ROUTE
            this.$router.push(route)
        })
        .catch((e) => {
          this.showResult = true
          this.result = 'Error al iniciar sesión, revise las credenciales'
          window.setInterval(() => {
            this.showResult = false;
          }, 3000)
        })
      }
    },
  }
</script>

<style scoped lang="css">
  #login {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
</style>
